# Ignore everything, but not directories:

*
!**/

# Except the following file types:

!.gitignore
!.gitattributes

!*.md
!*.ogg
!*.mp3
!*.org
!*.sh
!*.txt
!*.zs
!sndinfo.*

# But do ignore this:

changelog.txt
